{% extends 'mainpage/layout.html' %}

{% block title %}Записи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Записи</h1>
        <p>За́пись означает процесс фиксации данных для сохранения на носителях информации, а также сам результат этого процесса. Первыми записями являются наскальные рисунки, рунические алфавиты и идеограммы. .</p>
        <p>Существуют разные носители информации — от бумаги до цифровых носителей данных</p>
        <button onclick="changeColor();">Сменить цвет фона</button>
        <h2>{{ header }}</h2>
        <p>Имя: {{ user.name }} Возраст: {{ user.age }} лет.</p>
        <p>Адрес: ул. {{ address.0 }}, д. {{ address.1 }}, корп. {{ address.2 }} кв. {{ address.2 }}</p>
        <p>Владеет языками: {{ langs.0 }}, {{ langs.1 }}, {{ langs.2 }}, {{ langs.3 }}</p>
        <h1>Давайте добавим форму для записи</h1>
        <br>-------------</br>
        {% if tasklist %}
            {% for el in tasklist %}
                <div class="alert alert-warning">
                    <h5>{{ el.nachalo }}</h5>
                    <h5>{{ el.conets }}</h5>
                    <p>{{ el.description }}</p>
                </div>
        {% endfor %}
        {% else %}
            <p>Запись пуста!</p>
        {% endif %}
    </div>
{% endblock %}