[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "*"
psycopg2 = "*"
django = "*"
pandas = "*"
django-favicon-plus = "*"
django-favicon-plus-reloaded = "*"

[dev-packages]

[requires]
python_version = "3.12"
