

body {
    background: #999999; 
}

div {
    background: #1010f3; 
    border-radius: 10px;
    margin-top: auto;                 /* Выстраивает объекты по верхнему краю */
    width: 400px;                     /* Выстраивает ширину столбцов */
    margin-right: 15px;               /* Выстраивает объекты по правому краю */
    display: inline-block;            /* Выстраивает объекты по горизонтали */
    max-width: 40vh;                  /* Задаёт максимальную ширину блока */
    /*max-height: 60vh;               /* Задаёт максимальную размер блока (ОТКЛЮЧЁН, ЧТОБЫ СИНХНОНИЛСЯ <DIV> С <P> ПРИ СКОРЛЛЗУММ */

    
}

h1 {
    background-color: #69fff8;     /* Цвет фона для объекта "Блок *. */
    margin: 10px;                    /* Внешняя граница - общий размер всех сторон */
    margin-bottom: 5%;               /* Внешняя граница - размер нижней части */
    padding: 2%;                     /* Внутринняя граница от края до текств в % - общий размер всех сторон */
    font-size: 200%;                 /* Размер шрифта - Блок *. */
    text-align: center;              /* Выравнивание текста с указанием его положения */

}


p {
    background: #adff2f;          /* Цвет фона для области для текста */
    margin: 10px;                   /* Внешняя граница - общий размер всех сторонобласти для текста */
    padding: 5%;                    /* Внутринняя граница d % - общий размер всех сторон области для текста */
    font-size: 15px;                /* Размер шрифта текста в области для текста */
    line-height: 20px;              /* Задаёт верхнее и нижнее пространство тексту */
    overflow: auto;                 /* Создаёт бегунок для ухадящего за поля текста */
    max-height: 60vh;               /* Задаёт максимальную высоту блока, что позволяет тексту активировать бегунок */
    max-width: 40vh;
}


