{% extends 'mainpage/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про наши КОНТАКТЫ</h1>
        <p>«Контакты» — одна из основных страниц сайта, которая привлекает самых заинтересованных клиентов и, соответственно, может генерировать лиды. Нужна она не только коммерческим сайтам, но и любым другим ресурсам, независимо от ниши, хотя многие новички о ней даже не задумываются.</p>
        <p>Предположим, у вас есть блог о кулинарии, куда вы выкладываете авторские рецепты. Посетители приходят с поиска, а монетизируется сайт при помощи контекстной рекламы. В связи с этим возникает резонный вопрос: зачем мне страница с контактами, если я ничего не продаю?</p>
        <p>Однако даже для информационных сайтов может быть несколько случаев, когда такая страница не помешает:</p>
        <button onclick="changeColor();">Сменить цвет фона</button>
        <h2>{{ header }}</h2>
        <p>Имя: {{ user.name }} Возраст: {{ user.age }} лет.</p>
        <p>Адрес: ул. {{ address.0 }}, д. {{ address.1 }}, корп. {{ address.2 }} кв. {{ address.2 }}</p>
        <p>Владеет языками: {{ langs.0 }}, {{ langs.1 }}, {{ langs.2 }}, {{ langs.3 }}</p>
    </div>
{% endblock %}