{% extends 'mainpage/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про наши КОНТАКТЫ</h1>
        <p>«Контакты» — одна из основных страниц сайта, которая привлекает самых заинтересованных клиентов и, соответственно, может генерировать лиды. Нужна она не только коммерческим сайтам, но и любым другим ресурсам, независимо от ниши, хотя многие новички о ней даже не задумываются.</p>
        <p>Предположим, у вас есть блог о кулинарии, куда вы выкладываете авторские рецепты. Посетители приходят с поиска, а монетизируется сайт при помощи контекстной рекламы. В связи с этим возникает резонный вопрос: зачем мне страница с контактами, если я ничего не продаю?</p>
        <p>Однако даже для информационных сайтов может быть несколько случаев, когда такая страница не помешает:</p>
        <button class="add" type="button">Контакты</button>
    </div>
{% endblock %}