body {
    background: rgba(171, 242, 243, 0.78);
}
aside {
    float: left;
    background: rgba(64, 138, 3, 0.51);
    width: 23%;
    padding: 2.5%;
    color: #ffffff;
    height: 100vh;
    border-right: 5px solid #56c4c7;
    display: block;
    word-break: break-all;
}

aside img {
    width: 100px;
}
.hll {
    float: left;
}

li img {
    width: 60px;
    margin-top: 5px;
}



aside .logo {
    font-size: 68px;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    color: rgba(213, 232, 40, 0.88);
}

aside h3 h2 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: white;
    display: block;
    vertical-align: top;
    margin-top: 20px;
    transition: all .5s ease;
    margin-left: 5px;
}

aside li:hover, aside ul a:hover {
    color: #e10a85;
    text-decoration: none;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    font-size: 50px;
    position: relative;
    top: -5px;
}

main div {
    color: brown;
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 60%;
    top: -5px;
    color: darkslategray;
    width: 70.5%;
    margin-left: 29%;
    border: solid 2px;
    margin-right: 38%;
    padding-right: 5px;
}
.alert-warning {
    float: left;
    clear: none;
    width: 500px;
    margin: 10px 50%;
    text-align: center;
    background: #a4fa20;
    border: solid 1px;
    position: relative;
}
.alert-warning p {;
    border: solid 1px;
    margin-left: 16%;
}